<footer>
    <h1>All right reserved ©</h1>
    <div class="footer-links">
       
        <ul>
            <% if (locals.user){%>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            <li><a href="/users/profile/<%=locals.user.id%>">Profile</a></li> 
            <%}%>
        </ul>
    </div>
</footer>
